@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top:0;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.yellow{
  color: #D8A729;
}

a{
  color: #D8A729;

  &:hover{
    color: white;
  }
}

/*@media screen and (max-width: 1200px){
  
  .text-shpere{
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    clear: both;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

}*/
